@CHARSET "US-ASCII";

@import "timerstyle.css";
@import "backtotop.css";

.navbar{
	min-height: 37px;
	margin: 0 auto;
	width: 97%;
	}		
.navbar-inverse{
	background-color: #FFF;
	}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 8px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}
.navbar-brand{
	height: 36px;
	line-height: 7px;
	}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #449c8a;
	}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #449c8a;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #449c8a;
}
.photoreel{
	margin-top: 10px;
	}
.carousel{
	margin: 36px auto 0;
	width: 97%;
	border-bottom: 1px solid #000;
	}
.carousel .item{
	background-color: transparent;
	}
.carousel-caption{
	left: 45px;
	right: 45px;
	color: #000;
	top: 0;
	}
