@CHARSET "US-ASCII";
/**************************************************************************
*   Webmaster Assignment for Massey Cancer Center                         * *                                        				  *
*   Designed by Jacques Walker                                            *
*   Copyright 2014                                                        *
***************************************************************************/

@media (max-width: 1161px){

	aside{	
		background-image:none !important;
		text-align: center;
		height: auto !important;
	}
	footer{
		text-align: center;
		line-height: 13px;
	}	
}
@media (max-width: 820px){
	header {
		background-image: url("../vcu_banner_mini.png") !important;
		}
	}
@media (max-width: 605px){
	nav ul li a{
		font-size: 16px !important;
		width: 100%;
	}
	header h1 {
		font-size: 28px !important;
	}
	article{
		margin-top: 128px !important;
	}
}
@media (max-width: 560px){
	nav ul li a{
		padding: 0 11px !important;
	}
}
@media (max-width: 520px){
	nav ul li a{
		padding: 0 8px !important;
	}
	header h1 {
		font-size: 21px !important;
		padding-left: 6px;
	}
	article{
		margin-top: 119px !important;
	}
}
@media (max-width: 490px){
	nav ul li{
		display: block !important;
	}
	nav ul li a{
		display: block;
		width: 100%;
	}
	article{
		margin-top: 197px !important;
	}
	aside nav ul li{
		display: inline-flex !important;
	}
}
@media (max-width: 460px){
	article{
		margin-top: 198px !important;
}
}
