/* ::::: http://127.0.0.1:8000/static//css/style.css? ::::: */

/* ::::: http://127.0.0.1:8000/static//css/nav_styles.css ::::: */

#navbar { background-color: rgb(0, 0, 0); clear: both; float: left; margin: 0px 0px 5px; padding: 0px; font-family: Times,Times New Roman,serif; font-size: 90%; z-index: 100; position: relative; height: 35px; width: 100%; border-bottom: 4px solid rgb(153, 153, 153); }
#navbar ul { margin: 0px; padding: 0px; list-style: none outside none; float: left; position: relative; width: 100%; }
#navbar ul li { margin: 0px; float: left; position: relative; background: url('divider.gif') no-repeat scroll left 4px transparent; }
#navbar #active, #navbar ul li:hover { background: url('nav_tab_gray.png') no-repeat scroll center 35px transparent; }
#navbar ul li a { display: block; margin: 0px 0px 15px; padding: 14px 12px 0px; font-size: 21px; line-height: 1em; text-decoration: none; color: rgb(255, 255, 255); font-weight: normal; text-transform: uppercase; font-style: normal; }
.help { background: url('help_button.png') no-repeat scroll center 6px transparent ! important; height: 20px; margin-left: 5px ! important; }
.help:hover { background: url('help_button_hover.png') no-repeat scroll center 6px transparent ! important; height: 20px; }
.help:active { background: url('help_button_active.png') no-repeat scroll center 6px transparent ! important; height: 20px; }
#navbar #active a, #navbar ul li a:hover { background: none repeat scroll 0% 0% rgb(255, 204, 0); opacity: 1; color: rgb(0, 0, 0); border: medium none; transition: all 0.1s ease-in-out 0s; }
#navbar ul li a:hover { color: rgb(255, 255, 255) ! important; }
#navbar ul li:last-of-type:hover { background-image: none; }
#navbar ul li:last-of-type a:hover { background: none repeat scroll 0% 0% transparent; }
#navbar ul li:last-of-type { float: right; padding-right: 3px; background: none repeat scroll 0% 0% transparent ! important; }
#navbar ul li:hover a, #navbar ul li.hover a { color: rgb(255, 255, 255); border: medium none; }
#navpanel { border-spacing: 18px; padding: 5px 66px 5px 7px; width: 172px; background: url('content_bkgrd.png') repeat-y scroll center center transparent; height: auto; margin: 5px 5px 11px 0px; float: none; overflow: auto; border: 1px solid rgb(204, 204, 204); z-index: 100; }
/* ::::: http://127.0.0.1:8000/static//css/form_styles.css ::::: */

#widecontent form input[type="submit"] { background-color: rgb(0, 102, 153); border: 2px solid rgb(204, 204, 204); border-radius: 7px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); color: rgb(255, 255, 255); font-size: 22px; margin: 1px 1px 1px 10px; min-width: 211px; display: block; clear: both; }
#widecontent form input[type="submit"]:hover { box-shadow: 0px 0px 8px rgb(255, 255, 255); }
/* ::::: http://127.0.0.1:8000/static//css/media_kit.css ::::: */

@media all and (max-width: 847px) {
	#Logingreeting { float: none ! important; }
}
@media all and (max-width: 857px) {
}
@media screen and (max-width: 969px) {
	#navbar ul li a { font-size: 20px; padding-top: 15px; }
	.reg_hash { width: 80% ! important; }
}
@media screen and (max-width: 930px) {
	#navbar ul li a { font-size: 18px; padding-top: 17px; }
	.reg_hash { width: 79% ! important; }
}
@media screen and (max-width: 862px) {
	#navbar ul li a { font-size: 16px; padding-top: 21px; }
	.reg_hash { width: 75% ! important; }
}
@media screen and (max-width: 783px) {
	#navbar ul li a { font-size: 15px; }
}
@media screen and (max-width: 740px) {
	#navbar ul li a { font-size: 14px; padding-top: 22px; }
	.reg_hash { width: 74% ! important; }
}
@media screen and (max-width: 709px) {
	body { background-image: none; }
	#VTDivision { font-size: 19px ! important; }
	#header h1 { font-size: 24px ! important; height: 61px; width: 100% ! important; padding-left: 3px; }
	#header img { margin-bottom: 25px; }
	#main {  }
	#subheader h3 { font-size: 17px; }
	.reg_hash { display: none; }
	#navpanel { width: 372px ! important; background-image: none; background-color: rgb(0, 0, 0); margin-bottom: 0px; padding-right: 5px ! important; }
	.help { background-color: rgb(204, 204, 204) ! important; background-position: center 4px ! important; margin-left: 0px ! important; }
	.help:hover { background-color: rgb(204, 204, 204) ! important; background-position: center 4px ! important; }
	#navbar { height: auto; }
	#navbar ul li { width: 100%; }
	#navbar ul li:hover { background-image: none; }
	#navbar ul li:active { background-image: none; }
	#navbar ul li a { font-size: 22px; margin: 0px 0px 4px; padding: 11px 27px 0px; }
	#navbar #active, #navbar ul li:hover { background-image: none; }
	#content-all { width: 390px ! important; display: block ! important; }
	#content, #widecontent { width: 95.4% ! important; min-height: 400px ! important; }
	#everything { width: 395px ! important; }
	#footer { float: none ! important; width: 96% ! important; color: rgb(0, 0, 0); }
	.footer_box { display: block; clear: left ! important; }
	.footer_box, #contact_info { width: 98% ! important; clear: right ! important; float: none ! important; border-top: 1px solid rgb(0, 0, 0); border-left: medium none ! important; color: rgb(0, 0, 0); }
	#footer_copyright { color: rgb(0, 0, 0); }
}
/* ::::: http://127.0.0.1:8000/static//css/table_styles.css ::::: */

tr:nth-child(2n) { background: none repeat scroll 0% 0% rgb(195, 222, 241); }
tr:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.transcript_coursesattendedtable tr:nth-child(2n), .transcript_coursesleadingtable tr:nth-child(2n) { background: none repeat scroll 0% 0% rgb(231, 228, 188); }
.transcript_coursesattended td:first-child, .transcript_coursesleading td:first-child, .myschedule_coursesenrolledtable td:first-child, .myschedule_coursescoordinatingtable td:nth-child(3), .myschedule_coursesleadingtable td:nth-child(3) { width: 135px; }
.transcript_coursesattended td:nth-child(3), .transcript_coursesleading td:nth-child(3) { width: 53px; }
/* ::::: http://127.0.0.1:8000/static//css/print.css ::::: */

/* ::::: http://127.0.0.1:8000/static//css/course_display_style.css ::::: */

html { background: url('background-striped.png') repeat scroll 0% 0% rgb(120, 157, 195); }
body { background-color: rgb(255, 255, 255); background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-image: url('background-striped.png'), linear-gradient(to bottom, rgb(255, 255, 255) 24%, rgb(120, 157, 195) 100%); background-position: center center; background-repeat: repeat; margin: 0px; }
h1 { margin: 0px; }
h3 { margin: 0px; color: rgb(0, 122, 199); }
h4 { margin: 0px 0px 3px; }
a { color: rgb(255, 204, 0); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); }
#VTDivision { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); padding: 9px 0px 0px 3%; font-style: italic; font-size: 24px; margin: 0px 0px 9px; min-height: 30px; }
#Logingreeting { float: right; font-size: 16px; padding-right: 20px; }
#Logingreeting a { color: rgb(255, 204, 0); }
#Logingreeting a:hover { color: rgb(255, 204, 0); border: medium none; }
#everything { width: 99%; text-align: left; position: relative; max-width: 960px; margin: 0px auto; border-width: 1px; border-color: black; font-family: "Times New Roman",Times,serif; color: rgb(255, 255, 255); }
#header { position: relative; height: 26px; }
#header h1 { color: rgb(0, 195, 205); font-size: 30px; font-variant: normal; text-transform: uppercase; font-style: normal; font-weight: normal; margin: 0px; float: left; width: 85%; }
#header img { display: block; float: left; margin: 0px 8px -23px 0px; }
#subheader h3 { float: none; color: rgb(0, 0, 0); margin: 10px 0px 0px 69px; padding: 0px; font-size: 20px; width: 175px; }
.reg_hash { background: url('reg_hash.png') repeat-x scroll center center transparent; height: 15px; width: 74%; margin-top: -19px; float: right; padding-left: 6px; }
#search { margin: 2px 0px; padding: 8px 0px 5px 4px; border-bottom: 1px solid rgb(0, 0, 0); border-top: 2px solid rgb(154, 154, 155); }
#main { border-bottom: 1px solid rgb(0, 0, 0); position: relative; overflow: auto; padding: 0px 0px 5px; margin: 0px 0px 4px; width: 100%; }
#content-all { background: url('content_bkgrd.png') repeat-y scroll center center transparent; float: left; margin: 10px 0px 0px; min-height: 515px; width: 99%; color: rgb(255, 255, 255); padding: 5px 5px 5px 7px; display: inline-flex; }
#content, #widecontent { background: url('content_bkgrd2.png') repeat scroll center center transparent; margin: 5px 0px 0px; min-height: 635px; color: rgb(255, 255, 255); padding: 5px 5px 5px 7px; display: block; overflow: auto; float: none; }
#widecontent { width: 98%; }
#footer { float: left; width: 37%; padding-left: 5px; }
#footer img { padding-top: 8px; }
#footer_copyright { float: right; clear: both; border-top: 1px solid rgb(0, 0, 0); text-align: left; width: 100%; }
.footer_box, #contact_info { float: left; border-left: 1px solid rgb(0, 0, 0); padding: 4px 0px 6px 8px; width: 18%; height: auto; }
.footer_box { border: medium none; }
.footer_box a { color: rgb(176, 242, 252); }
.footer_box a:hover { color: rgb(255, 255, 255); }
#title { text-transform: uppercase; }
/* ::::: http://127.0.0.1:8000/static//css/media_kit.css? ::::: */

@media all and (max-width: 847px) {
	#Logingreeting { float: none ! important; }
}
@media all and (max-width: 857px) {
}
@media screen and (max-width: 969px) {
	#navbar ul li a { font-size: 20px; padding-top: 15px; }
	.reg_hash { width: 80% ! important; }
}
@media screen and (max-width: 930px) {
	#navbar ul li a { font-size: 18px; padding-top: 17px; }
	.reg_hash { width: 79% ! important; }
}
@media screen and (max-width: 862px) {
	#navbar ul li a { font-size: 16px; padding-top: 21px; }
	.reg_hash { width: 75% ! important; }
}
@media screen and (max-width: 783px) {
	#navbar ul li a { font-size: 15px; }
}
@media screen and (max-width: 740px) {
	#navbar ul li a { font-size: 14px; padding-top: 22px; }
	.reg_hash { width: 74% ! important; }
}
@media screen and (max-width: 709px) {
	body { background-image: none; }
	#VTDivision { font-size: 19px ! important; }
	#header h1 { font-size: 24px ! important; height: 61px; width: 100% ! important; padding-left: 3px; }
	#header img { margin-bottom: 25px; }
	#main {  }
	#subheader h3 { font-size: 17px; }
	.reg_hash { display: none; }
	#navpanel { width: 372px ! important; background-image: none; background-color: rgb(0, 0, 0); margin-bottom: 0px; padding-right: 5px ! important; }
	.help { background-color: rgb(204, 204, 204) ! important; background-position: center 4px ! important; margin-left: 0px ! important; }
	.help:hover { background-color: rgb(204, 204, 204) ! important; background-position: center 4px ! important; }
	#navbar { height: auto; }
	#navbar ul li { width: 100%; }
	#navbar ul li:hover { background-image: none; }
	#navbar ul li:active { background-image: none; }
	#navbar ul li a { font-size: 22px; margin: 0px 0px 4px; padding: 11px 27px 0px; }
	#navbar #active, #navbar ul li:hover { background-image: none; }
	#content-all { width: 390px ! important; display: block ! important; }
	#content, #widecontent { width: 95.4% ! important; min-height: 400px ! important; }
	#everything { width: 395px ! important; }
	#footer { float: none ! important; width: 96% ! important; color: rgb(0, 0, 0); }
	.footer_box { display: block; clear: left ! important; }
	.footer_box, #contact_info { width: 98% ! important; clear: right ! important; float: none ! important; border-top: 1px solid rgb(0, 0, 0); border-left: medium none ! important; color: rgb(0, 0, 0); }
	#footer_copyright { color: rgb(0, 0, 0); }
}
/* ::::: http://127.0.0.1:8000/static//css/ie.css? ::::: */

@media screenï¿½ {
	#content-all { width: 948px; display: block; }
	#navpanel { float: left; }
	#navbar { width: 959px ! important; }
	#navbar ul li a { font-size: 21px ! important; padding-top: 14px ! important; }
	@media screen and (max-width: 709px) {
	#main { width: 532px ! important; }
}
}
@media screen	 {
	#content-all { width: 948px; display: block; }
	#navpanel { float: left; }
	#navbar { width: 959px ! important; }
	#navbar ul li a { font-size: 21px ! important; padding-top: 14px ! important; }
	@media screen and (max-width: 709px) {
	#main { width: 532px ! important; }
}
}
/* ::::: http://127.0.0.1:8000/static//css/jquery-ui-1.10.3.custom.css? ::::: */

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css ::::: */

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
